VITE_USE_MOCK=true
VITE_USE_MOCK_AUTH=false
VITE_USE_MOCK_USERS=false
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_EMAIL_LINK_URL=http://localhost:5173/login
VITE_FIREBASE_LINK_DOMAIN=
VITE_FIREBASE_ANDROID_PACKAGE_NAME=
VITE_FIREBASE_ANDROID_INSTALL_APP=false
VITE_FIREBASE_ANDROID_MINIMUM_VERSION=
VITE_FIREBASE_IOS_BUNDLE_ID=
